<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>index</title>
    </head>

    <body>
        <h1>SpringMVC域对象发送数据</h1>
        <a th:href="@{/testServletAPI}"> ServletAPI </a> <br>
        <a th:href="@{/testModelAndView}"> ModelAndView </a> <br>
        <a th:href="@{/testModel}"> Model </a> <br>
        <a th:href="@{/testMap}"> Map </a> <br>
        <a th:href="@{/testModelMap}"> ModelMap </a> <br>
        <a th:href="@{/testSession}"> Session </a> <br>
        <a th:href="@{/testApplication}"> Application </a> <br>

    </body>
</html>